;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dev-http {3000 "public"}

 :dependencies
 [[reagent "2.0.1"]]

 :builds
 {:sketch {:target :browser
           :compiler-options {:optimizations :advanced}
           :modules {:sketch {:entries [sketch]}}}
  :client {:target :browser
           :compiler-options {:optimizations :advanced}
           :modules {:client {:entries [client]}}}}}
